@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: "Inter", sans-serif;
}

.slider{
    width:100%;
    min-height:80vh;
    aspect-ratio:16/9;
    background:#000;
    position:relative;
}

.slider-background{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(40%);
}

.slider-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

h1{
    color:#FFF;
    font-size:5rem;
}

h2{
    font-size:3rem;
    margin-bottom:50px;
}

p{
    font-size:1.5rem;
    line-height:1.5em;
}

.slider-content p{
    color:#FFF;
    font-size:2rem;
    font-weight:300;
}

.section{
    padding:100px 0;
}

.boxed{
    max-width:1200px;
    margin-inline:auto;
}

.flex{
    display:flex;
}

.dark{
    background:#000;
    color:#FFF;
}

.w40{
   width:40%;
}

.w60{
    width:60%;
}

.text-center{
    text-align:center;
}

.w25{
    width:25%;
}

.w32{
    width:32%;
}

.space-between{
    justify-content:space-between;
}

.gap20{
    gap:20px;
}

.wrap{
    flex-wrap:wrap;
}

.skill{
    background:#FFF;
    border-radius:15px;
    padding:20px;
    box-sizing:border-box;
}

.skill img{
    width:100px;
    height:100px;
    aspect-ratio:1/1;
    object-fit:contain;
}

.skill h3{
    color:#000;
    margin-top:10px;
}

.realisation{
    height:auto;
    aspect-ratio:1/1;
    position:relative;
}

.realisation h3{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:2rem;
    width:max-content;
    opacity:0;
    transition: .4s ease;
}

.realisation a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    color:#FFF;
}

.realisation img{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(40%);
    transition:.4s ease;
}

.realisation:hover img{
    filter:brightness(60%);
}

.realisation:hover h3{
    opacity:1;
}

.icon{
    display:block;
    font-size:40px !important;
}

.label{
    display:block;
    font-weight:700;
    text-transform:uppercase;
    margin:10px 0;
    font-size:1.5rem;
}

.value{
    display:block;
    font-size:1.2rem;
}

.contact{
    border:2px dashed #FFF;
    border-radius:15px;
    padding:30px;
    box-sizing:border-box;
}

.contact .icon-phone{
    font-size:100px !important;
}